@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Playwrite+IT+Moderna:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Theme1 */
    --roxo-Claro: #dea0fa;
    --cinza-Escuro: #232426;
    --roxo: #d12cff;
    --branco: #f4f4f4;
    /* Light & Dark */
    --cinza-Claro: #F1F1F1;
    --cinza: #55595d;
    --preto-Inter: #08100C;
}
body{
    background: linear-gradient(100deg, var(--cinza-Escuro), #515151);
    height: 100vh;
    overflow-y: hidden;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flexrow-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 8px;
    margin: 16px 32px 0 0;
}
.standard-theme{
    width: 40px;
    height: 40px;
    background: linear-gradient(100deg, var(--cinza-Escuro), var(--roxo));
    border-radius: 100%;
    border: 1px solid var(--roxo-Claro);
}
.light-theme{
    width: 40px;
    height: 40px;
    background: linear-gradient(100deg, var(--cinza-Claro), var(--branco));
    border-radius: 100%;
    border: 1px solid var(--roxo-Claro);
}
.darker-theme{
    width: 40px;
    height: 40px;
    background: linear-gradient(100deg, var(--cinza-Escuro), var(--preto-Inter));
    border-radius: 100%;
    border: 1px solid var(--roxo-Claro);
}
.header h1{
    font-family: "Playwrite IT Moderna", serif;
    color: var(--roxo);
    font-size: 60px;
}
.container-task{
    display: flex;
    align-items: center;
}
.container-task input{
    background-color: var(--roxo-Claro);
    padding: 11px;
    border-radius: 8px 0 0 8px;
}
.container-task input::placeholder{
    font-family: "Playwrite IT Moderna", serif;
}
.container-task button{
    font-family: "Playwrite IT Moderna", serif;
    background-color: var(--roxo);
    padding: 8px;
    border: none;
    border-radius: 0 8px 8px 0;
    color: var(--branco);
}