@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Playwrite+IT+Moderna:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Theme1 */
    --roxo-Claro: #dea0fa;
    --cinza-Escuro: #232426;
    --roxo: #d12cff;
    --branco: #e8e8e8;
    /* Light & Dark */
    --cinza-Claro: #F1F1F1;
    --cinza: #55595d;
    --preto-Inter: #08100C;
}

body {
    font-family: "Playwrite IT Moderna", serif;
    background: linear-gradient(285deg, #141414 0%, #363636 100%);
    height: 100vh;
    overflow-y: hidden;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexrow-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 8px;
    margin: 16px 32px 0 0;
}

.standard-theme {
    width: 40px;
    height: 40px;
    background: linear-gradient(100deg, var(--cinza-Escuro), var(--roxo));
    border-radius: 100%;
    border: 1px solid var(--roxo-Claro);
    cursor: pointer;
}

.standard-theme:hover {
    opacity: 0.6;
}

.light-theme {
    width: 40px;
    height: 40px;
    background: linear-gradient(100deg, var(--cinza-Claro), var(--branco));
    border-radius: 100%;
    border: 1px solid var(--roxo-Claro);
    cursor: pointer;
    transition: 0.3s background ease-in-out;
}

.light-theme:hover {
    opacity: 0.8;
}

.darker-theme {
    width: 40px;
    height: 40px;
    background: linear-gradient(100deg, var(--cinza-Escuro), var(--preto-Inter));
    border-radius: 100%;
    border: 1px solid var(--roxo-Claro);
    cursor: pointer;
}

.darker-theme:hover {
    opacity: 0.5;
}

.task-title {
    color: var(--roxo);
    font-size: 60px;
}

.container-task {
    display: flex;
    align-items: center;
}

.task-input {
    background-color: var(--roxo-Claro);
    padding: 11px;
    border-radius: 8px 0 0 8px;
}

.task-input::placeholder {
    font-family: "Playwrite IT Moderna", serif;
}

.task-button {
    font-family: "Playwrite IT Moderna", serif;
    background-color: var(--roxo);
    padding: 8px;
    border: none;
    border-radius: 0 8px 8px 0;
    color: var(--branco);
}

.task-list {
    list-style: none;
    color: #e8e8e8;
}

.checked {
    text-decoration: line-through;
    color: #55595d;
}